{
	"useTabs": true,
	"tabWidth": 2,
	"printWidth": 100,
	"singleQuote": true,
	"trailingComma": "es5",
	"semi": true,
	"bracketSpacing": true,
	"arrowParens": "always",
	"proseWrap": "preserve",
	"endOfLine": "lf"
}
